.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #4eb94e;
  font-family: Arial, sans-serif;
}

.display {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  color: #000;
  text-align: right;
  border-radius: 10px;
}

.result {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.input {
  font-size: 1.2rem;
  color: #000;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 300px;
}

button {
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(57, 163, 62, 0.1);
}

.equals {
  background-color: #2196f3;
  color: #fff;
}

.clear {
  background-color: #f44336;
  color: #fff;
}



.history {
  width: 300px;
  margin-top: 20px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px;
}

.clear-history {
  margin-top: 10px;
  width: 100%;

  background-color: #f44336;
  color: #fff;
}
